In [2]:
import sys

In [3]:
sys.path.insert(0, '../src/')

In [4]:
from data.data_load import DataLoad

In [8]:
# Instantiating 'data_loader' object

data_loader = DataLoad()

# loading csv file as dataframe from yaml config file using 'load_data()' method 

df = data_loader.load_data('train_dataset_name')

df.head()

2024-03-11 22:31:26 [info     ] Staring data loading with: train_dataset_name
2024-03-11 22:31:27 [info     ] Data loaded successfully!

   target  ...  NumeroDeDependentes
0       1  ...                    2
1       0  ...                    1
2       0  ...                    0
3       0  ...                    0
4       0  ...                    0

[5 rows x 11 columns]

In [11]:
from data.data_validation import DataValidation


# Instantiating 'data_validator' object

data_validator = DataValidation()


# run data validation
data_validator.run(df)

2024-03-11 22:33:35 [info     ] Starting data shape checking
2024-03-11 22:33:35 [info     ] Data shape validation started!
2024-03-11 22:33:35 [info     ] Starting column types validation
2024-03-11 22:33:35 [info     ] Column validation passed!
2024-03-11 22:33:35 [info     ] Validation step concluded!

True

In [15]:
from data.data_transformation import DataTransformation


# Instantiating 'data_transformer' object

data_transformer = DataTransformation(df)


# getting X_train, X_val, y_train, y_val splits
X_train, X_val, y_train, y_val = data_transformer.train_test_data_split()

2024-03-11 22:35:58 [info     ] Target 'target' variable found in the dataframe. Performing X, y split and train/val split
2024-03-11 22:35:58 [info     ] Data split performed successfully!